* {
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Item {
  min-width: 300px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.Item.complete {
  background-color: lightgreen;
}

.Item.del {
  position: absolute;
  top: -2px;
  right: 3px;
  text-decoration: none;
  color: red;
  font-family: sans-serif;
  font-size: 20px;
}
